<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Yangstagram</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        .fieldError {
            color: #bd2130;
        }
    </style>
    <script>
        $(document).ready(function () {
            let errorMessage = "[[${errorMessage}]]";
            if (errorMessage.length != 0) {
                alert(errorMessage);
            }
        });
    </script>
</head>


<body>
    <main id="login">
        <div class="login__column">
            <img src="/images/phoneImage.png"/>
        </div>
        <div class="login__column">
            <div class="login__box">
                <img src="/images/yangstagram_logo.png"/>
                <form action="/users/new" method="post" class="login__form" th:object="${userFormDTO}">
                    <input type="email" name="email" placeholder="Email" style="margin-bottom: 5px;" th:field="*{email}">
                    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="fieldError">Incorrect data</p>
                    <input type="text" name="name" placeholder="Name" style="margin-bottom: 5px;" th:field="*{name}">
                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="fieldError">Incorrect data</p>
                    <input type="text" name="username" placeholder="Username" style="margin-bottom: 5px;" th:field="*{username}">
                    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="fieldError">Incorrect data</p>
                    <input type="password" name="password" placeholder="Password" style="margin-bottom: 10px;" th:field="*{password}">
                    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="fieldError">Incorrect data</p>
                    <input type="submit" value="Sign up">
                </form>
                <span class="login__divider"> or </span>

                <a href="/oauth2/authorization/facebook" class="login__fb-link"><i class="fa fa-facebook-square"></i> Log in
                    with Facebook</a> <a href="#" class="login__small-link">Forgot password?</a>
            </div>
            <div class="login__box">
                    <span class="login__text"> Did you have an account? <br/>
                    </span> <a class="login__blue-link" th:href="@{/auth/login}">Sign in</a>
            </div>
            <div class="login__t-box">
                <span class="login__text"> Get the app. </span>
                <div class="login__appstores">
                    <img src="/images/ios.png" class="login__appstore"/> <img src="/images/android.png" class="login__appstore"/>
                </div>
            </div>
        </div>
    </main>

    <div th:replace="fragments/footer::footer"></div>

</body>

</html>